rich
requests
mypy
click
fastapi
uvicorn[standard]
pydantic[email]
httpx
SQLAlchemy
psycopg2-binary
alembic
asyncpg
jose
passlib
jwt
pydantic-settings
python-dotenv
passlib[bcrypt]
pytest
python-jose[cryptography]
python-multipart
redis